
<h1>Add a book to our Database !</h1>
<br>
<form action="/books/add" method="post">
<br>
  <label for="">Title:</label>
  <input type="text" name="name">
<br>
  <label for="">Author:</label>
  <input type="text" name="author">
<br>
  <label for="">Description:</label>
  <input type="text" name="description">
<br>
  <label for="">Rate:</label>
  <input type="number" name="rating">
<br>
  <button type="submit">ADD</button>
</form>